@model List<OnlinePoker.Models.Game>
@{
    ViewBag.Title = "Текущие игры";
    var x2 = Model.Where(g => g.Players.Count == 2);
    var x4 = Model.Where(g => g.Players.Count == 4);
    var x6 = Model.Where(g => g.Players.Count == 6);
    var x8 = Model.Where(g => g.Players.Count == 8);
}

<h2>@ViewBag.Title</h2>

<table border="1">
    <tr>
        <td>2x</td>
        <td>4x</td>
        <td>6x</td>
        <td>8x</td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
</table>
@foreach (var item in Model)
{

}