@await Model.TableHelper.GetControlPanelAsync(false)
@if (Model.Data.Count > 0)
{
    <table class="table table-striped table-sm">
        @await Model.TableHelper.GetTableHeadAsync()
        <tbody>
            @await Html.PartialAsync("_TableData")
        </tbody>
    </table>
    @await Model.TableHelper.GetPaginationPanelAsync()
}
else
{
    <h3 class="m-5 btn btn-raised btn-lg btn-dark text-center">Не найдено ни одного элемента...</h3>
}