<div>
    <div class="info">
        <div class="contacts">
            <h4>Контакти</h4>
            <ul>
                <li>
                    <span>Общий</span><br>
                    +38-099-742-03-77
                </li>
                <li>
                    <span>Олександр</span><br>
                    +38-099-742-03-78
                </li>
                <li>
                    <span>Анна</span><br>
                    +38-099-269-72-74
                </li>
            </ul>
        </div>
        <div class="donation">
            <h4>Рахунок для пожертвувань</h4>
            <ul>
                <li>
                    <span>Карта ПриватБанка</span><br>
                    4149 4390 4037 8188
                </li>
                <li>
                    АТКБ Приватбанк<br>
                    ЕДРПОУ  42909054<br>
                    р/р<br>
                    283 05 299 0 0000 26006050386243
                </li>
            </ul>
        </div>
    </div>
    <div class="send-message-us">
        <center>
            <a href="http://www.vidkrite-serce.dp.ua/?page_id=156"><span>&#9993;</span>Написати нам листа</a>
        </center>
    </div>
</div>