@model string

<link rel="stylesheet" href="~/css/form.css" />

<div class="form form-msg card">
    <div class="text-center">
        <img class="m-3" src="/images/error-icon.svg" alt="..." width="100" height="100">
        <h1 class="h4 font-weight-normal">@ViewData["Title"]</h1>
        <p class="lead" style="padding: 20px">Простите, но у вас нет разрешения к странице "@Model"</p>
    </div>
</div>